extends layout

block content
  h1 Deleted Tasks
  table#newRow.table.table-striped.table-hover.mytable
    tbody
      tr
        th Finnished
        th Task
        th Created
        th Edit 
      -each task,index in tasks
        tr
          td #{task.Finished}
          td #{task.Task}
          td #{task.Created.format('HH:mm DD MMMM YYYY')}
          td 
            a(href='/undelete/#{task.id}') Undelete 
  