extends layout

block content
  h1.headtext= title
  p.headtext Welcome to #{title} 
  p.newtask
    a(href='/task/').newbutt New
  table#newRow.table.table-hover.mytable
    thead
      tr
        th Finnished
        th Task
        th Created
        th DueDate
        th Edit 
    tbody
      -each task,index in tasks
        tr
          td #{moment(task.Finished).isValid()?moment(task.Finished).fromNow():'Not finished'}
          td #{task.Task}
          td #{task.Created.format('HH:mm DD MMMM YYYY')}
          td #{task.DueDate.format('HH:mm DD MMMM YYYY')}
          td 
            a(href='/task/#{task.id}') Edit  
            a(href='/delete/#{task.id}') Delete       
