doctype html
html
  head
    title= title
    link(href="/stylesheets/bootstrap.css",rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-latest.js")
    script(src="javascripts/bootstrap.min.js")
  body
    nav.navbar.navdes.navbar-default(role='navigation')
      div.container-fluid.navbuttons
        ul.nav.navbar-nav
          li(class='#{page=="All"?"active":""}')
            a(href='/') All
          li(class='#{page=="finished"?"active":""}')
            a(href='/finished') Finished
          li(class='#{page=="unfinished"?"active":""}')
            a(href='/unfinished') Unfinished
          li(class='#{page=="deleted"?"active":""}')
            a(href='/deleted') Deleted
          li(class='#{page=="coming"?"active":""}')
            a(href='/coming') Coming
          
    block content