extends layout

block content
  h1= title
  p.headtext Welcome to TaskEditor #{title}
  form(action="/task/#{task.id || ''}", method="post")
    table.mytable.table-hover
      tbody
        tr
          th.tablehead(colspan='2')
            | Details
        tr
          td.col-xs-2 Task Name
          td
            input.nobord.form-control(name='Task',type='text', placeholder='Task Name',value='#{task.Task}')
        tr
          td DueDate
          td
            input.nobord.form-control(name='DueDate',type='date', placeholder='When you will do this?',value='#{task.DueDate.format("YYYY-MM-DD")}')    
        tr
          td.col-xs-2 Finished
          td
            input.nobord.form-control(name='Finished',type='date', placeholder='Note. What you are gonna to do',value='#{task.Finished ? task.Finished.format("YYYY-MM-DD") : ""}')
    input(type="submit",name='action',value="Save").edit 
    if index != -1
      input(type="submit",name='action',value="Delete").edit   
    input(type="submit",name='action',value="Cancel").edit        