extends layout
block content
  h1 Unfinished Tasks
  table#newRow.table.table-hover.mytable
    tbody
      tr
        th Task
        th Created
        th Due Date
        th Edit 
      -each task,index in tasks
        tr(class="#{task.class}")
          td #{task.Task}
          td #{task.Created.format('HH:mm DD MMMM YYYY')}
          td #{task.DueDate.format('HH:mm DD MMMM YYYY')}
          td 
            a(href='/finish/#{task.id}') Finish 