.mytable {
  position: relative;
  margin: 0 0 0 10%;
  width: 80%;
  border-color: red;
  border-width: 10px;
  border-radius: 25px;
  text-align: center;
  font-family: Comic Sans MS;
  background-image: url("/images/tableback.png");
}

.tablehead {
  text-align: center;
  font-size: 20px;
  background-image: url('/images/tablehead.jpg');
  background-size: 100% 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-radius: 25px;
}

.headtext{
  text-align: center
}

.newtask{
  background-image: url("/images/tableback.png");
  border-radius: 25px;
  text-align: center;
  width: 120px;
  height: 35px;
  margin:0 auto;
  margin-bottom: 5px;
  font-family: Comic Sans MS;
  font-size: 25px;
}

.newbutt{
  color: red;
}

.nobord {
  border: none;
  background-color: transparent;
  text-align: center;
}
.newTaskBtn {
  margin: 1% 0 1% 40%;
  width: 200px;
  border-radius: 3px;
  color: white;
}

.overdue{
  background-color: red;
}

.navdes {
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url('/images/kozha.jpg');
  background-size: 100% 100%;
}

.navbuttons {
  vertical-align: middle;
  margin-left: 30%;
}

.edit {
  background-image: url("/images/tableback.png");
  border-radius: 25px;
  text-align: center;
  width: 120px;
  height: 35px;
  margin-top: 10px;
  font-family: Comic Sans MS;
  font-size: 20px;
  color: blue;
  margin-left: 130px;
}