.myform {
  border: none;
 }

.incenter{
position:relative;
margin: 20% 0 0 30%;
}
.tabledet {
  border-radius: 4px;
}
.mytable {
  position: relative;
  margin: 3% 0 0 20%;
  width: 60%;
  border-color: red;
  border-radius: 5px;
  text-align: center;
  background-image: url('tableback.jpg');
  font-family: Comic Sans MS;
}

.tablehead {
  background-image: url('tablehead.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
  text-align: center;
  font-family: Comic, Sans, MS;
  color: white;
  height: 50px;
  font-size: 25px;
}

.nobord {
  border: none;
  background-color: transparent;
  text-align: center;
}
.newTaskBtn {
  margin: 1% 0 1% 40%;
  width: 200px;
  border-radius: 3px;
  color: white;
}