<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">All</a>
    </div>
      <ul class="nav navbar-nav">
          <li><a href="finished.html">Finished</a></li>
          <li><a href="unfinished.html">Unfinished</a></li>
          <li><a href="deleted.html">Deleted</a></li>
          <li><a href="coming.html">Coming</a></li>
      </ul>
    </div>
</nav>